// global colors

// grayscale
$color-scale-black: #1F2328;
$color-scale-white: #ffffff;
$color-scale-gray-1: #f2efea;
$color-scale-gray-2: #ded8d0;
$color-scale-gray-3: #c1b8af;
$color-scale-gray-4: #9f958c;
$color-scale-gray-5: #81756e;
$color-scale-gray-6: #6a5957;
$color-scale-gray-7: #534a42;
$color-scale-gray-8: #3f3832;
$color-scale-gray-9: #2f2724;

// primary
$color-primary-dark-3: #86161a;
$color-primary-dark-2: #b43b49;
$color-primary-dark-1: #d56a77;
$color-primary: #f88d9a;
$color-primary-light-1: #f3abb6;
$color-primary-light-2: #fac8ce;
$color-primary-light-3: #fdd3d9;

// danger and error
$color-danger-dark-3: #7a0d05;
$color-danger-dark-2: #972113;
$color-danger-dark-1: #b82714;
$color-danger:#df3923;
$color-danger-light-1: #e56a5a;
$color-danger-light-2: #f0978d;
$color-danger-light-3: #f5afa7;

// warning
$color-warning-dark-3: #aa8015;
$color-warning-dark-2: #c29f22;
$color-warning-dark-1: #d6b436;
$color-warning: #ecd23d;
$color-warning-light-1: #f5dd72;
$color-warning-light-2: #ecda87;
$color-warning-light-3: #fdeeaf;

// success
$color-success-dark-3: #207c34;
$color-success-dark-2: #359645;
$color-success-dark-1: #4fb55a;
$color-success: #60ce66;
$color-success-light-1: #90d174;
$color-success-light-2: #b2d78a;
$color-success-light-3: #d0e5a3;